{
  "presets": [["env", {"modules": false}]],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ],
  "env": {
    "commonjs": {
      "presets": [["env", {"modules": "commonjs"}]]
    }
  }
}